[submodule "ffserver/node"]
	path = ffserver/node
	url = https://github.com/nodejs/node
[submodule "ffserver/serial-web-terminal"]
	path = ffserver/serial-web-terminal
	url = git@github.com:hradec/serial-web-terminal.git
